
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    color: white;
  
  }
  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("./assets/wallpaper.png"); 
    background-size: 100% 100%;
    background-color: #341f97;
  }
  
  .welcome_text{
    width: 35%;
    margin-left: 5%;
    padding: 2%;
    font-size: x-large;
    float: left;
  }

  .welcome_text > p{
    font-size: x-large;
    margin-top: 5%;
  }
  
  .start{
    width: 37%;
    height: 5vh;
    font-size: 23px;
    text-align: center;
    background-color: #249DDC;
    color: white;
    padding: 0% 2%;
    margin-top: 5%;
    outline: none;
    border: #249DDC;
    border-radius: 3px;
  }

  .start > img{
    width: 20%;
    margin-left: 10%;
  }

  .quiz {
    display: grid;
    width: 600px;
    height: 500px;
    margin-left: 5%;
  }
  
  .quiz_body {
    background-color:transparent;

  }
  
  .option_group {
    list-style-type: none;
    margin: 30px 0;
    display: grid;
    grid-template-columns: 30% 30%;
  }
  
  .option {
    width: 170px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 15px 20px;
    border: 1px solid #ffff;
    border-radius: 3px;
  }
  
  .option:hover {
    cursor: pointer;
    background-color: grey;
    border: 1px solid #ffff;
  }
  .option.active {
    background-color: #0000;
    color: #fff;
    background-color: grey;
  }
  .btn-next {
    width: 20%;
    border: none;
    margin-top: 10%;
    padding: 2%;
    font-size: x-large;
    background-color: #249DDC;
    color: #fff;
    border-radius: 3px;
  }
  
  .btn-next > img{
    width: 12%;
    margin-left: 15%;
  }

  .result{
    margin-left: 5%;
    width: 40%;
  }

  .result > h1{
    font-size: 48px;
    line-height: 58.51px;
    
  }

  .result > p{
    font-size: 32px;
    line-height: 39.01px;
    margin-top: 2%;
  }

  .result > button{
    width: 225px;
    height: 70px;
    font-size: 36px;
    text-align: center;
    margin-top: 2%;
    background-color: #249DDC;
    color: white;
    outline: none;
    border: #249DDC;
    border-radius: 3
  }

  @media screen and (max-width:800px) {
    body{
       width:100%;
       
    }
    h1 {
       font-size: 30px;
     }
     
     .option {
        width: 170px;
        font-weight: bold;
        margin-bottom: 40px;
        padding: 15px 20px;
        border: 1px solid #ffff;
        border-radius: 3px;
      }
      .option_group {
        list-style-type: none;
        margin: 20px 0;
        display: grid;
        grid-template-columns: 60% 40%;
      }
 }